.character-details-container {
	@media #{$sm},#{$md},#{$lg} {
		@include details-container;
	}
}
.character-image-container {
	@media #{$sm},#{$md},#{$lg} {
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		width: 40%;
		height: 50%;
		padding-left: 50px;
	}
}
.character-image {
	@media #{$sm},#{$md},#{$lg} {
		flex: 1;
		height: 100%;
		object-fit: contain;
		clip-path: view-box;
		mix-blend-mode: luminosity;
		border-radius: 15px;
	}
}
.character-links-list {
	@media #{$sm},#{$md},#{$lg} {
		@include links-list;
	}
}

.character-descripition-container {
	@media #{$sm},#{$md},#{$lg} {
		@include descripition;
		object-fit: fill;
		height: fit-content;
	}
	@media #{$sm} {
		flex: 0.9;
	}
	@media #{$md} {
		flex: 0.6;
	}
	@media #{$lg} {
		flex: 0.45;
		min-width: 400px;
		min-height: 400px;
	}
}
.character-avatar {
	@media #{$sm} {
		width: 150px !important;
		height: 150px !important;
		img {
			object-fit: fill;
		}
	}
}
