.episode-details-container {
	@include details-container;
}

.episode-links-list {
	@include links-list;
}

.episode-descripition {
	@media #{$sm},#{$md},#{$lg} {
		@include descripition;
		background-color: #1f6032;
	}
	@media #{$sm} {
		flex: 0.9;
	}
	@media #{$md} {
		flex: 0.8;
	}
	@media #{$lg} {
		flex: 0.3;
		min-width: 400px;
	}
}
