.pagination-container {
	@media #{$sm},#{$md},#{$lg} {
		position: absolute;
		width: 100%;
		bottom: 5%;
	}
	@media #{$sm} {
		left: 10%;
	}
	@media #{$md} {
		left: calc((25% + 75%) / 2);
	}
	@media #{$lg} {
		left: 40%;
	}
}
