.pagination-container {
	@media #{$sm},#{$md},#{$lg} {
		position: absolute;
		width: 100%;
	}
	@media #{$sm} {
		left: 10%;
	}
	@media #{$md} {
		left: calc((25% + 75%) / 2);
		bottom: 1%;
	}
	@media #{$lg} {
		bottom: 0;
		left: 40%;
	}
}
